<!-- 
<h4 style="text-align: center; margin-top:40px"><b>{{user.email}}</b></h4>
<p style="text-align: center;" >profile works!</p>
 -->

 <div class="row">
    <div class="offset-sm-1 col-sm-10">
      <div class="card text-blank">
        <div class="card-body">
          <div class="card-title text-center">
            <h3>Profile</h3>
          </div>
          <hr/>
          <div class="card-text">
            <div class="row">
              <div class="col-sm-3 text-center">
                <img [src]="photoURL" height="256" width="256" class="img-circle">
              </div>
  
              <div class="col-sm-9 pr-5" >  
                <h4>{{ user.email }}</h4>
                <h1>{{user.pattern}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
